@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Lato&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url(menu.css);
@import url(footer.css);
@import url(history.css);
@import url(slider.css);

* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

img{
    width: 100%;
    max-width: 100%;
    display: block;
}


.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    width: 100%;
    
}


/*--------------Estilos del header---------------*/

.main{
    margin-top: 20px;
}

.main-header {
    position: relative;
    width: 200px;
    top: 65px;
    z-index: 3000;

}

.imagelogo {
    margin-top: 0%;
    align-content: center;
    width: 250px;   
}


.image-container {

    transition: all 500ms ease-out;
    width: 200px;
    height: 200px;
    background: rgba(110,28,45,0);
    border-radius: 50%;
    padding-top: 10px;
    /*border: 3px solid rgba(0,0,0,0.3);
    box-shadow: 2px 5px 40px*/
    
}


.image-container:hover {
    transform: scale(1.1);
    transition: all 500ms ease-out;
    cursor: pointer;
}


/*---- Elementos del banner --------*/

.banner {
    width: 100%;
    position: relative;
    margin-top: -200px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 2px 10px 30px rgba(0,0,0,.7);
}


/*Este before es para oscurecer la imagen*/
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1000;
    top: 0;
    
}


.banner img{
    transition: all 1000ms ease-out;    

}


.banner:hover img{
    transform: scale(1.1);
    transition: all 1000ms;
    
}


.banner__content {
    width: 100%;
    color:white;
    text-align: center;
    position: absolute;
    z-index: 3300;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;

}


.banner__img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}



.banner__content h2 {
    color: white;
    text-shadow: 5px 5px 30px #000;
    padding: 20px;
    font-size: 1.2em;
    transition: all 500ms ease-out;
    z-index: 3000;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Bree Serif', serif;

}

.banner__content h3 {
    margin-top: 20px;
    font-size: 1em;
}

.banner__content h2:hover {
    background: rgba(0,0,0,0.8);
    text-shadow: 5px 5px 30px #A42A43;
    box-shadow: 1px 10px 40px #000;
    transform: scale(1.1);
    transition: all 500ms ease-out;
    cursor: pointer;
}


/*--------------rutas-------------*/

.group__title {
    font-family: 'Pacifico', cursive;
    font-weight: 100;   
    font-size: 1.8em;
    background: #A42A43;
    text-align: center;
    margin: 30px;

}

.rutas{
    margin-top: 60px;
    margin-bottom: 100px;
}



.ruta-ciudad img{
    transition: all 1000ms ease-out;    

}

.ruta-ciudad{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 500ms ease-out;
    cursor: pointer;
    box-shadow: 1px 10px 20px rgba(0,0,0,0.7);
    border-radius: 10%;
}

.today-special__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.ruta-ciudad  h2 {
    color: white;
    text-shadow: 5px 5px 30px #000;
    padding: 20px;
    font-size: 0.8em;
    transition: all 500ms ease-out;
    z-index: 3000;
    /*font-family: 'Montserrat', sans-serif;*/

}



/*Este before es para oscurecer la imagen*/
.ruta-ciudad:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
    border-radius: 10%;    
}

.ruta-ciudad:hover {

    transform: scale(1.2);
    z-index: 3000;
    transition: all 500ms ease-out;
}

/*------------------RESPONSIVES-------------------*/
@media screen and (min-width:280px) {

    .container {
        width: 90%;
    }
    
    .column--50-25 {
        width: 49.5%;
    }

}


@media screen and (min-width:480px) {

    .container {
        width: 90%;
    }
    
    .column--50-25 {
        width: 49.5%;
    }

}

@media screen and (min-width:768px) {
    

    .container {
        width: 90%;
    }
    
    .column--33{
        width: 32%;
    }
    .column__40{
        width: 45%
        
    }
    
    .column__60{
        width: 54%;
    }
    
    /*--------rutas------*/
    .column__txt {
        line-height: 30px;
    }
    
    .column--50-25 {
        width: 32.5%;
    }
    
    .column_title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
    
}



@media screen and (min-width:1024px) {
    
    .container {
        width: 90%;
    }
    
 
    .main-nav {
        padding: 0;

    }
    
    .column__40{
        width: 39%
    }
    
    .column__60{
        width: 59%;
    }

    
    .main-header{
        top: 0px;
        z-index: 4000;
        width: 200px;
    }
    
    
    /*-------banner-------*/
    .banner__img {
        height: 700px;
    }
    
    
    .banner__content {
        font-size: 2.5em;
    }
    
    .banner__content h3{
        font-size: 0.7em;

    }
    

    
    
    /*--------menu-------*/
    .icon-menu {
        display: none;      
    }
    
    .menu {
        position: static;
        display: flex;
        height: auto;
        height: auto;
        width: auto;
    }
    
    .menu__link {
        padding: 20px;
    }
    
    /*------rutas--------*/
    .column__txt {
        line-height: 30px;
    }
    
    .column--50-25 {
        width: 24.5%;
    }
    
    .column_title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
    
    
    /*------footer--------*/
    .main-footer {
        padding-top: 30px;    
        padding-bottom: 30px;
    }
    
}

@media screen and (min-width:1600px) {        
    .container{
        width: 90%;
    }

    .main-nav {
    background: rgba(38,14,4,0.6);
    }
    
    .main-header {
    position: relative;
    width: 200px;
    top: 15px;
    z-index: 3000;

}
    

    
}
